<% layout('layouts/boilerplate')%>

<title>Majidah | Watch Movies Online Free on Majidah.to</title>
<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="jumbotron text-center">
        <h1 class="display-4">MAJIDAH</h1>
        <p class="lead">Watch Movies Online</p>
        <p>Majidah is a better place to <b>watch movies online for free.</b> Majidah provides high-quality movies, TV shows, and more. No registration is required. The content will be updated daily with fast streaming servers and multi-language subtitles supported. There are a lot of movies to choose from on our website.</p>
        <p>Please help us share this site with your friends. Thanks!</p>
        <p><a href="https://www.facebook.com/rickspuffy/" style="text-decoration:none;">Connect with us on Facebook</a></p>
    
        <p class="lead">
            <a type="button" class="btn btn-outline-success" href="/homepage" role="button">Go to Majidah Homepage</a>
        </p>
</div>

<script src="/javascripts/apiMovies.js"></script>